body {
  background-color:gold;
}

#board {
  width: 800px;
  overflow: hidden;
  margin: 50px auto;
}

#board .tile, #board .tile img {
  width: 150px;
  height: 150px;
  background: red;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  float: left;
}

#board .tile {
  margin: 20px;
}

#board .tile img {
  display: block;
  visibility: hidden;
}

#board .tile.active img{
  visibility:visible;
}